*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}


main{
	background:pink;
	height:100vh;
	width:100vw;
	display:flex;
	align-content:center;
}

.playing-field{
	background:skyblue;
	margin: auto;
	width: 70vw;
	height: 90vh;
	border-radius: 25px;
	display:flex;
	overflow:hidden;
}

.squareBoard{
	width: 50%;
	height:100%;
	background: yellow;
	display:grid;
	grid-template-columns: repeat(4,1fr);
}

.squareBoard>div{
	width:100%;
	height: 15vh;
	background: lilac;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.squareBoard>div:nth-child(4n){
	border-right: none;
}

.squareBoard>div:nth-child(){
	border-bottom: none;
}



.playArea{
	width: 50%;
	height:100%;
	display:grid;
	grid-template-rows: 1fr 2fr 1fr;
	background: green;
	 
}

.scoreNav{
	height:100%;
	display:flex;
	justify-content: space-around;
	align-items:center;
	text-align:center;
}


.scoreNav ul{
	list-style:none;
	line-height: 25px;
	color:white;
}

.scoreNav ul>li:first-child{
	font-size:3.5vh;
}

.scoreNav ul>li:nth-child(2){
	font-size:3vh;
}

#active-player{
	color:grey;
}

.questions-box{
	height:100%;
	width: 98%;
	background: white;
	margin:auto;
	border-radius: 15px;
}

.question-bar{
	border-bottom: 1px solid grey;
	background:skyblue;
	font-size: 3.5vh;
	padding: 1vh 0.5vw;
}

.answers-bar>p{
	height: 100%;
	font-size: 3vh;
	padding: 1.8vh;
	cursor:pointer;
}

.answers-bar>p:hover{
	background: lightgrey;
}

.answers-bar>p>span{
	margin-right: 0.5vw;
}

.buttons-area{
	display:flex;
	align-items: center;
	justify-content: space-around;
}

.buttons-area button{
	padding: 0.8vh 2.5vw;
	border-radius: 48px;
	border:1px solid skyblue;
	background:transparent;
	cursor:pointer;
}