*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}


main{
	background:pink;
	height:100vh;
	width:100vw;
	display:flex;
	align-content:center;
}

.playing-field{
	
	background:skyblue;
	margin: auto;
	width: 70vw;
	height: 90vh;
	border-radius: 25px;
	display:flex;
	overflow:hidden;
}

.player-select-container{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:grey;
	display:flex;
	justify-content:center;
	align-items:center;
	padding: 0 3vw;
	text-align:center;
	font-size:3.5vh;
}

.player-select-container form label{
	margin-bottom: 2vh;
	
}

.option-box{
	display:flex;
	flex-direction:column;
}


#players-tag{
	width:30%;
	margin:auto;
	padding: 1vh 0;
	margin-bottom: 2vh;
	border-radius: 48px;
}

.player-select-container form button{
	width:30%;
	padding: 1vh 0;
	border-radius: 48px;
	border:1px solid black;
	background:none;
	cursor:pointer;
}

.squareBoard{
	position:relative;
	width: 50%;
	height:100%;
	background: yellow;
	display:grid;
	grid-template-columns: repeat(4,1fr);
}

.squareBoard>div{
	width:100%;
	height: 15vh;
	background: lilac;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	position:relative;
}

.squareBoard>div:nth-child(4n){
	border-right: none;
}

.squareBoard>div:nth-child(){
	border-bottom: none;
}

.dice-page{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: coral;
}

.player-stage.bonus{
	background: green;
}

.player-stage:before{
	content:'';
	position:absolute;
	height: 85%;
	width: 75%;
	top: 1vh;
	left: 1.1vw;
	border-radius:50%;
}

.player-stage.pink:before{
	background: pink;
}

.player-stage.coral:before{
	background: coral;
}

.player-stage.red:before{
	background: red;
}

.player-stage.black:before{
	background: black;
}

.player-stage.blue:before{
	background: blue;
}

.playArea{
	width: 50%;
	height:100%;
	display:grid;
	grid-template-rows: 2fr 2fr 1fr;
	background: green;
	 
}

.scoreNav{
	height:100%;
	display:flex;
	justify-content: space-around;
	align-items:center;
	text-align:center;
}


.personal-score{
	list-style:none;
	line-height: 25px;
	color:grey;
}


.scoreNav ul>li:first-child{
	font-size:3.5vh;
}

.scoreNav ul>li:nth-child(2){
	font-size:3vh;
}

.personal-score.active-player{
	color:white;
}

.questions-box{
	height:100%;
	width: 98%;
	background: white;
	margin:auto;
	border-radius: 15px;
}

.question-bar{
	border-bottom: 1px solid grey;
	background:skyblue;
	font-size: 3.5vh;
	padding: 1vh 0.5vw;
}

.single-question.correct{
	background:green;
}

.single-question.wrong{
	background:red;
}

.answers-bar>p{
	height: 100%;
	font-size: 3vh;
	padding: 1.8vh;
	cursor:pointer;
}

.answers-bar>p:hover{
	border-bottom: 1px solid grey;
}

.answers-bar>p>span{
	margin-right: 0.5vw;
}

.buttons-area{
	display:flex;
	align-items: center;
	justify-content: space-around;
}

.buttons-area button{
	padding: 0.8vh 2.5vw;
	border-radius: 48px;
	border:1px solid skyblue;
	background:transparent;
	cursor:pointer;
}


.colourpage-container{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: grey;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.colourpage-container>p{
	font-size: 4vh;
}

.coloursBox{
	width: 30vw;
	display:flex;
	justify-content: space-between;
	margin-top: 3vh;
}

.colour-button{
	
	background:black;
	width: 7vh;
	height:7vh;
	border-radius: 50%;
	border:none;
	cursor:pointer;
}

.colour-button.pink{
	
	background:pink;
}

.colour-button.blue{
	
	background:blue;
}

.colour-button.coral{
	
	background:coral;
}

.colour-button.red{
	
	background:red;
}

.end-game{
	position:fixed;
	top:0;
	left:0;
	background:red;
	width:100%;
	height:100%;
}

.unclick{
	pointer-events:none;
}